@import "fonts.scss";
@import "variables.scss";
@import "function.scss";

@import "interface.scss";
@import "grid.scss";
@import "header.scss";
@import "mainSection.scss";
@import "aboutMixer.scss";



















// body{ padding: 0; margin: 0; background-color: #000; height: 400vh;}


// #cont{
// 	display: inline-block;
// 	width: 100vw; height: 400vh;
// 	background-color: lighten(#000, 40%);
// }
// #animation-div{
// 	float: right;
// 	display: inline-block;
// 	height: 100vh; width: 20vw;
// 	margin-left: 60vw;
// 	position: fixed;	
// }

