body{
	max-width: 1900px;
	padding: 0;
	margin: 0;
	height: 400vh;
	// background: #000 url(../img/bacgground_body.jpg) 0 0 no-repeat;
	// background-size: contain;
	// background: linear-gradient(to bottom)
}